body {
    background-color: black;
    margin: 0%;
}

h1 {
    text-align: center;
    color: bisque;
    margin-top: 40px;
    font-size: 45px;
}

.container-box {
    width: 450px;
    /* height: 450px; */
    border: 1px solid #000;
    /* border-radius: 5px; */
    margin-left: 33%;
    padding: 15px 10px;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, serif;
    text-align: center;
    background-color: rgb(95, 138, 202);
}

.baris-box {
    display: block;
}

.kolom-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 4px 4px;
    background-color: rgb(236, 13, 13);
    display: inline-block;
    color: #fff;
    cursor: pointer;
}